body{
	background-color:#194d83;
}
.bcontainer{	
	width:900px;
	background-color: white;
	margin:auto;
	margin-top:-8px;
	position: relative;
	
}
.banner{
	width:100%;
	max-height:180px;
	
}
.menu{

	left:0px;
	color:white;
	background-color: black;
	position: relative;
	padding:5px;
	top:-5px;
	max-height:200px;
	/*font-family:arial;*/
	text-align: center;
	width:890px;
	border-bottom:4px solid grey;
	
}
.mid{
	
	height:900px;
	width:80%;
	background-color: white;
	z-index:2;
	position: relative;
	top:-4px;
	margin:auto;
}
.opt1,.opt2,.opt3{
	border-right:2px solid grey;
}
.opt1,.opt2,.opt3,.opt4{
	display:inline-block;
	font-size:13pt;
	width:200px;
	text-align: center;
	padding:5px;

}
.footer{
	position: absolute;
	bottom:0px;
	border-top:4px solid grey;
	background-color: black;
	color:white;
	width:896px;
	padding:2px;
	height:18px;
}
a{
	color:white;
	display: block;
	text-decoration: none;


}